## Import libraries

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sbn
import warnings

In [2]:
#ignore warnings in cell output
warnings.filterwarnings('ignore')

## Data sourcing : Load Loan Data set into the notebook

In [3]:

loan = pd.read_csv('loan.csv')
loan.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

## Basic data volume analysis

In [4]:
print(loan.ndim)
print(loan.shape)
print(loan.info())
print(loan.columns)

2
(39717, 111)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB
None
Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object', length=111)

# Start Data Clean up - Null treatment
## This covers
    ### Duplicate rows
    ### Rows with Null values
    ### Columns with all null values
    ### Columns with high percentage of null values
    ### Rows with high percentage of null variables

In [5]:
# Duplicate row - Check is performed on member_id col
loan[loan.duplicated(subset=['member_id']) == 'true']
# No rows turned out to be duplicate and thus no dropping of rows are required

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_il_6m, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, num_rev_accts, num_rev_tl_bal_gt_0, num_sats, num_tl_120dpd_2m, ...]
Index: []

[0 rows x 111 columns]

In [6]:
# Empty rows handling - where all the col values are null
loan.dropna(axis=0,how='all',inplace=True)
len(loan)
# We found that none of the rows are there in the data set where all variable values are Null

39717

In [7]:
# Columns with all null values . These cols are of no use.
loan.dropna(axis=1,how='all',inplace=True)
len(loan.columns)
# So we have now reduced the number of cols from 111 to 57 as the (111-57 = 54) no of cols turned out to have nothing but Null values.

57

### Columns with high percentage of null values. Here we do not like to consider the columns where 50% or more data are empty. A col with more than 50% empty data can not be of much use and lead to a not so trustworthy result if the 50% or more null values are imputed from statistical analysis of 50% or less data.

In [8]:
loan.isna().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      2459
emp_length                     1075
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
desc                          12942
purpose                           0
title                            11
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
mths_since_last_delinq        25682
mths_since_last_record        36931
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                       50
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     71
last_pymnt_amnt                   0
next_pymnt_d                  38577
last_credit_pull_d                2
collections_12_mths_ex_med       56
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths         56
delinq_amnt                       0
pub_rec_bankruptcies            697
tax_liens                        39
dtype: int64

### Below we write a short function to delete all cols where more than 50% of data is empty. We do not prefer to hardcode the columns here.

In [9]:
def additionalcolsToDrop():
    additional_colsToDrop=[]
    for i in loan.columns:
        if loan[i].isna().sum() > loan.shape[0] *.5:
            additional_colsToDrop.append(i)
    loan.drop(labels=additional_colsToDrop,axis=1,inplace=True)
 

additionalcolsToDrop()

In [10]:
# Now the number of col comes down to 54 means 3 more cols were deleted in the last step (50% or more data are empty in col)
loan.shape

(39717, 54)

### We would like to further check if there are rows with mostly empty data. Such records are not going to be pretty useful for us.We consider 30 as the threshold value and if any row that does not have atleast 30 non-NA values will be dropped.

In [11]:
# We find that no row gets dropped as none of the records meet our criteria of dropping NA rows

loan.dropna(thresh=30,axis=0,inplace=True)
loan.shape

(39717, 54)

# Data Clean up - Extended
## This covers
        ### Data type handling
        ### Analysis of non critical columns for our purpose
        ### Derived data (if required)

In [12]:
loan.info()
# For the ease of data checking from excel we create a new csv file after dropping the empty columns
loan.to_csv('loan_cleaned.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 54 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   member_id                   39717 non-null  int64
 2   loan_amnt                   39717 non-null  int64
 3   funded_amnt                 39717 non-null  int64
 4   funded_amnt_inv             39717 non-null  float64
 5   term                        39717 non-null  object
 6   int_rate                    39717 non-null  object
 7   installment                 39717 non-null  float64
 8   grade                       39717 non-null  object
 9   sub_grade                   39717 non-null  object
 10  emp_title                   37258 non-null  object
 11  emp_length                  38642 non-null  object
 12  home_ownership              39717 non-null  object
 13  annual_inc                  39717 non-null  float64
 14  verification_status         39717 non-null  object
 15  issue_d                     39717 non-null  object
 16  loan_status                 39717 non-null  object
 17  pymnt_plan                  39717 non-null  object
 18  url                         39717 non-null  object
 19  desc                        26775 non-null  object
 20  purpose                     39717 non-null  object
 21  title                       39706 non-null  object
 22  zip_code                    39717 non-null  object
 23  addr_state                  39717 non-null  object
 24  dti                         39717 non-null  float64
 25  delinq_2yrs                 39717 non-null  int64
 26  earliest_cr_line            39717 non-null  object
 27  inq_last_6mths              39717 non-null  int64
 28  open_acc                    39717 non-null  int64
 29  pub_rec                     39717 non-null  int64
 30  revol_bal                   39717 non-null  int64
 31  revol_util                  39667 non-null  object
 32  total_acc                   39717 non-null  int64
 33  initial_list_status         39717 non-null  object
 34  out_prncp                   39717 non-null  float64
 35  out_prncp_inv               39717 non-null  float64
 36  total_pymnt                 39717 non-null  float64
 37  total_pymnt_inv             39717 non-null  float64
 38  total_rec_prncp             39717 non-null  float64
 39  total_rec_int               39717 non-null  float64
 40  total_rec_late_fee          39717 non-null  float64
 41  recoveries                  39717 non-null  float64
 42  collection_recovery_fee     39717 non-null  float64
 43  last_pymnt_d                39646 non-null  object
 44  last_pymnt_amnt             39717 non-null  float64
 45  last_credit_pull_d          39715 non-null  object
 46  collections_12_mths_ex_med  39661 non-null  float64
 47  policy_code                 39717 non-null  int64
 48  application_type            39717 non-null  object
 49  acc_now_delinq              39717 non-null  int64
 50  chargeoff_within_12_mths    39661 non-null  float64
 51  delinq_amnt                 39717 non-null  int64
 52  pub_rec_bankruptcies        39020 non-null  float64
 53  tax_liens                   39678 non-null  float64
dtypes: float64(18), int64(13), object(23)
memory usage: 16.4+ MB

## Data Type Handling, for now we will handle the below columns and will take the necessary actions to set the Target Data Type

| Column Name| Exiusting Data Type | Target Data Type |
|:--------:|:--------:|:--------:|
|  term   |  object  |  Int   |
|  int_rate    |  object   |  Float  |
|  emp_length    |  object   |  Int  |
|  issue_d    |  object   |  DateTime  |
|  earliest_cr_line    |  object   |  DateTime  |
|  revol_util    |  object   |  Float  |
|  last_pymnt_d    |  object   |  DateTime  |
|  last_credit_pull_d | object  | DateTime |

In [78]:
# Column term
# Convert Term to Int data type. For that we need to remove the word months

loan['term'] = loan['term'].apply(lambda x : int(x[:3]))

In [83]:
# Column int_rate
# Convert int_rate to float. For that we need to remove the % sign
loan['int_rate'] = loan['int_rate'].apply(lambda x : x.replace('%','').strip())

In [86]:
# Now convert to float data type. This could have done in the last step but we missed to do it.
loan['int_rate'] = loan['int_rate'].astype('float')

In [ ]:
# Col emp_length
# Convert emp_length to int. For that we have to remove  characters like >,<,+ and the term years.
# We use filter in conjuction with isdigit to do this

loan['emp_length'] = loan['emp_length'].apply(lambda x : ("".join(filter(str.isdigit, str(x)))))

In [ ]:
loan['emp_length'].value_counts()

In [119]:
# We see 1075 records with no employment record, we can get rid of those items
loan = loan[   loan['emp_length']!='']

In [ ]:
# Now convert emp_length  to int
loan['emp_length'] = loan['emp_length'].astype(int)
loan.info()

In [ ]:
# Column issue_d 
# Convert it to Date

loan['issue_d'] = pd.to_datetime(loan['issue_d'], format='%b-%y')

In [ ]:
# Column earliest_cr_line
# Convert it to date

loan['earliest_cr_line'] = pd.to_datetime(loan['earliest_cr_line'],format='%b-%y')
loan.info()

In [ ]:
# Column revol_util
# Convert it to Float, for that we need to get rid of the % sign at the end
# As we did before we can perform stripping to get rid of the last character
loan['revol_util'] =  loan[ 'revol_util'].apply(lambda x : str(x).rstrip('%'))

loan.info()

In [ ]:
# As the % sign is removed now we convert it to 
loan['revol_util'] = loan['revol_util'].astype('float')
loan['revol_util'].value_counts()

In [ ]:
# Column last_pymnt_d
# Convert it to date
loan['last_pymnt_d'] = pd.to_datetime(loan['last_pymnt_d'], format='%b-%y')
loan.info()

In [ ]:
# Column last_credit_pull_d
# Convert it to date

loan['last_credit_pull_d'] = pd.to_datetime(loan['last_credit_pull_d'],format='%b-%y')
loan.info()

## Now that data type conversion is completed for the specified fields we would like to further investigate on the other columns.This investigation is still part of data cleaning part and can cover below steps. Here we need to apply buysiness understanding and domain knowledge
>1. Remove columns which aparently can not add any value to our purpose (e.g borrower's personal information like address...)
>2. derived data (especially for the date time fields)
>3. Columns with no variation of data (unioque data count is 1)

In [ ]:
# We can straight away drop 2 columns - url and desc. They are descriptive information and add no values
loan.drop(labels=['url','desc'],axis=1,inplace=True)
loan.info()

### Column removal . They are being removed in the virtue of borrower's personal information having no impact on our analysis.<br> 
>- emp_title
>- zip_code
>- addr_state
>- policy_code
>- title

In [ ]:
# Column removal - emp_title,zip_code,addr_state,policy_code,title
# They are removed as they either depicts borrower's personal information  or information about product that are insignificant to this analysis
loan.drop(labels=['emp_title','zip_code','addr_state','policy_code','title'],axis=1,inplace=True)
loan.info()

### Column removal . They are being removed in the virtue of no variation in data and hence no impact on our analysis.<br> 
>- initial_list_status
>- pymnt_plan
>- pub_rec_bankruptcies
>- delinq_amnt
>- tax_liens
>- chargeoff_within_12_mths 
>- acc_now_delinq 
>- application_type
>- collections_12_mths_ex_med

In [13]:
# Column removal 
# initial_list_status - The information about the listing status or approval status is not concerning for our analysis
# pymnt_plan - The col has only value as 'n', such information is not helpful here
# tax_liens - The number of tax liens refers to the total count of legal claims against a person's property or assets due to unpaid taxes. we will not consider this value for 2 reasons
    # 1. Data reason - avalibale value in our data set is only '0' 
    # 2. Business reason - Tax liens is a consequence of defaulter, can not be an attribute to find defaulter
# pub_rec_bankruptcies - Will not consider this again a bankrupcy indicator is not eligble for loan at all.    
# delinq_amnt - delinquent Amount can be critical had there been a wide array of data, our data set contains only one value as '0'
# chargeoff_within_12_mths - We will drop this as this one also a single valued column
# acc_now_delinq - We will drop this as this one also a single valued column
# application_type - In our data set all application types are INDIVIDUAL, we will drop for it's virtue of single valued column
# collections_12_mths_ex_med - We will drop this as this one also a single valued column

loan.drop(labels=['initial_list_status','pymnt_plan','tax_liens','pub_rec_bankruptcies','delinq_amnt','chargeoff_within_12_mths','acc_now_delinq',
'application_type','collections_12_mths_ex_med'
],axis=1,inplace=True)
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 45 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       39717 non-null  int64
 1   member_id                39717 non-null  int64
 2   loan_amnt                39717 non-null  int64
 3   funded_amnt              39717 non-null  int64
 4   funded_amnt_inv          39717 non-null  float64
 5   term                     39717 non-null  object
 6   int_rate                 39717 non-null  object
 7   installment              39717 non-null  float64
 8   grade                    39717 non-null  object
 9   sub_grade                39717 non-null  object
 10  emp_title                37258 non-null  object
 11  emp_length               38642 non-null  object
 12  home_ownership           39717 non-null  object
 13  annual_inc               39717 non-null  float64
 14  verification_status      39717 non-null  object
 15  issue_d                  39717 non-null  object
 16  loan_status              39717 non-null  object
 17  url                      39717 non-null  object
 18  desc                     26775 non-null  object
 19  purpose                  39717 non-null  object
 20  title                    39706 non-null  object
 21  zip_code                 39717 non-null  object
 22  addr_state               39717 non-null  object
 23  dti                      39717 non-null  float64
 24  delinq_2yrs              39717 non-null  int64
 25  earliest_cr_line         39717 non-null  object
 26  inq_last_6mths           39717 non-null  int64
 27  open_acc                 39717 non-null  int64
 28  pub_rec                  39717 non-null  int64
 29  revol_bal                39717 non-null  int64
 30  revol_util               39667 non-null  object
 31  total_acc                39717 non-null  int64
 32  out_prncp                39717 non-null  float64
 33  out_prncp_inv            39717 non-null  float64
 34  total_pymnt              39717 non-null  float64
 35  total_pymnt_inv          39717 non-null  float64
 36  total_rec_prncp          39717 non-null  float64
 37  total_rec_int            39717 non-null  float64
 38  total_rec_late_fee       39717 non-null  float64
 39  recoveries               39717 non-null  float64
 40  collection_recovery_fee  39717 non-null  float64
 41  last_pymnt_d             39646 non-null  object
 42  last_pymnt_amnt          39717 non-null  float64
 43  last_credit_pull_d       39715 non-null  object
 44  policy_code              39717 non-null  int64
dtypes: float64(14), int64(11), object(20)
memory usage: 13.6+ MB

# Row removal<br>
### We can get rid of the Current loans as they are not going to influence our decison. Our focus will be the ChargedOff and Fully paid loans

In [14]:
loan['loan_status']

0         Fully Paid
1        Charged Off
2         Fully Paid
3         Fully Paid
4            Current
            ...
39712     Fully Paid
39713     Fully Paid
39714     Fully Paid
39715     Fully Paid
39716     Fully Paid
Name: loan_status, Length: 39717, dtype: object